{{! Template to render a single post, including title, body and comments}}

<article class="single-post">

  {{! Title of the post }}
  <div class="title">
    {{#link-to "posts.detail" post class=(concat "post" post.id)}}
      {{this.post.title}}
    {{/link-to}}
  </div>


  {{! Hide the by-user and body when clicking on the button }}
  <input class="toggle" id="toggleId{{post.id}}" type="checkbox">
  <label class="lbl-toggle" for="toggleId{{post.id}}"
          onclick={{action "toggleExpandedPost"}}>
    {{if this.postExpanded "collapse" "expand"}}
  </label>

  {{! The actual body and comments of the post }}
  <div class="post-detail">
    {{! The original poster }}
    <div class="op">
      <span>Posted by:</span>
      {{this.post.user.username}} ({{this.post.user.website}})
    </div>
    <div class="post-body">
      <p>{{this.post.body}}</p>
    </div>

    {{! Hide the comments unless the user wishes to know}}
    <input class="toggle" id="toggleCommentId{{post.id}}" type="checkbox">
    <label class="lbl-toggle" for="toggleCommentId{{post.id}}"
            onclick={{action "toggleExpandedComment"}}>
      {{if this.commentExpanded "hide comments" "load comments"}}
    </label>
    {{! actual comments}}
    <div class="comments">
      {{#each this.post.comments as |comment| }}
        <p class="comment-name">{{comment.name}}({{comment.email}})</p>
        <p class="comment-body">{{comment.body}}</p>
      {{/each}}
    </div>
  </div>

</article>
