<article class="single-post">

  <div class="title">
    {{#link-to "posts.detail" post class=(concat "post" post.id)}}
      {{this.post.title}}
    {{/link-to}}
  </div>


  {{! Hide the by-user and body when clicking on the button }}
  <input class="toggle" id="toggleId{{post.id}}" type="checkbox">
  <label class="lbl-toggle" for="toggleId{{post.id}}"
          onclick={{action "toggleExpandedPost"}}>
    {{if this.postExpanded "collapse" "expand"}}
  </label>

  {{! The actual body and comments of the post }}
  <div class="post-detail">
    <div class="op">
      <span>by:</span> {{this.post.user.username}}
    </div>
    <div class="body">
      <h4>{{this.post.body}}</h4>
    </div>

    {{! Hide the comments unless the user wishes to know}}
    <a class="showButton" role="button"
        onclick={{action "toggleExpandedComment"}}>
      {{if this.commentExpanded "collapse comments" "show comments"}}
    </a>
    <div class="comments{{if this.commentExpanded "-expanded" "-hidden"}}">
      {{#each this.post.comments as |comment| }}
        <h5>{{comment.body}}</h5>
      {{/each}}
    </div>
  </div>

</article>
